<header >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" href="/user">User</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/obra">Canvas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='/about'>About</a> 
              </li>
            </ul>
            <div id="userImg">
              <% if(!log){ %>
                <div>
                    <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
                    <a href="/signup"><button type="button" class="btn btn-dark">SignUp</button></a>
                </div>
            <% } else { %>
              <a href="/user">
                <% if(!userImg){ %>
                  <img src="/img/user-icon.png" alt="userLogo">
                <% } else {%>
                  <img src=<%= userImg %> alt="userLogo" width="50px">
                <% } %>
              </a>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
</header>