<%- include('partials/head', { title: title || 'Sin título' }) -%>
<%- include('partials/nav') , {log: log} , {userImg , userImg} %>
<div class=" text-center">
    <hr><br>
    <h1>About</h1>
    <br><hr>
    <div id="aboutimg"></div>
    <div class="m-5">
        <p class="m-5">Pagina diseñada por Nicolas Gomez para la materia de Informatica Aplicada 1 catedra de Lucas Samaruga</p>
        <img class="m-5" src="img/una.png" alt="" width="300px">
    </div>
</div>
<%- include('partials/foot') -%>