<%- include('partials/head', { title: title || 'Sin título' }) -%>
<%- include('partials/nav') , {log : log}%>
    <div class="text-center">
        <h1 class="m-2">Usuario registrado</h1>    
        <img src="img/confirm.png" alt="logo" width="150px">
        <div class="m-4">
            <a href="/"><button type="button" class="btn btn-dark">Volver al inicio</button></a>
        </div>
    </div>
</body>
</html>